body,
.intro-page {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.intro-page {
  flex-direction: column;
}

.intro-btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  height: 50px;
  width: 200px;
}

.intro-btn-a-tag {
  margin-top: 15px;
}

p {
  font-weight: 200;
}

h1 {
  font-weight: 500;
  margin: 0;
}

button,
.btn {
  width: 150px;
  height: 45px;
  border-radius: 12px;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-weight: 200;
  cursor: pointer;
}

.btn {
  margin: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

form {
  max-width: 40em;
}

hr {
  margin-top: 15px;
  opacity: 20%;
}

input[type='radio'] {
  background-color: red;
}

h4 {
  font-size: large;
  margin: 12px 0px;
}

.lbl {
  font-size: small;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

label {
  border: 1px solid #4d5b9e;
  padding: 4px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

label:hover {
  background-color: #d6dbf5;
}

.choices .checkmark:checked + .lbl {
  background-color: #d6dbf5;
}

.choices .checkmark + .lbl {
  background-color: #ffffff;
}
