:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.question-page {
  width: 500px;
}

.choices {
  background-color: red;
}

.choices input,
.choices label {
  display: block;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.intro-btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  height: 50px;
  width: 200px;
}

button {
  width: 150px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-weight: 1000;
  cursor: pointer;
}

.oval1 {
  height: 250px;
  width: 200px;
  background-color: #f2eeaa;
  border-radius: 50%;
  transform: rotate(150deg);
  position: absolute;
  top: -90px;
  right: -90px;
  clip-path: polygon();
}

.oval2 {
  height: 250px;
  width: 300px;
  background-color: #e0e9f8;
  border-radius: 35%;
  transform: rotate(170deg);
  position: absolute;
  left: -100px;
  bottom: -150px;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
